
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

    color: rgba(0, 0, 0, 100);
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --color-gray-100: #f4f3f1;
    --color-gray-200: #dddbd8;
    --color-gray-300: #ccc9c6;
    --color-gray-400: #aeaba7;
    --color-gray-500: #8a8784;
    --color-gray-600: #656360;
    --color-gray-700: #4b4a47;
    --color-gray-800: #31302e;
    --color-gray-900: #1f1d1b;
  
    --color-primary-100: #fcf3e1;
    --color-primary-200: #fceccd;
    --color-primary-300: #fae1af;
    --color-primary-400: #fbd997;
    --color-primary-500: #ffd37c;
    --color-primary-600: #f9c762;
    --color-primary-700: #fbc14d;
    --color-primary-800: #fab833;
    --color-primary-900: #f6ad1b;
  }
  
  button {
    display: inline-block;
    padding: 8px 12px;
    margin: 2px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #05a8ff;
    border: none;
    border-radius: 8px;
  }
  
  button:hover {background-color: #150373}
  
  button:active {
    background-color: #7306d8;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
  }

  p {
    margin: 8px;
  }